<div class="col-12">
    <div class="jumbotron">

        {{#if loggedin}}
        <h4 class="display-4">Bestellung</h4>
        Ihre Daten:
        {{useradress.forename}}
        {{useradress.surname}}
        {{useradress.adress.street}}
        {{useradress.adress.streetNumber}}
        {{useradress.adress.location}}
        {{useradress.adress.postcode}}
        </button>
        {{else}}
        <h4 class="display-4">Bestellung als Gast</h4>
        {{/if}}

        <br>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="col-lg-6">

                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Konfiguration</th>
                                            <th scope="col">Auswahl</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row">Schnürsenkel</th>
                                            <td>{{configuration.shoelace}}</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Nähte</th>
                                            <td>{{configuration.seam}}</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Muster</th>
                                            <td>{{configuration.pattern}}</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Aufdruck</th>
                                            <td>{{configuration.print}}</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Preis</th>
                                            <td>{{price}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <hr>
                                <br>

                                <form class="form-inline" action="/submit-configuration" method="post">
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                    <input type="hidden" name="shoelace" value="{{configuration.shoelace}}">
                                    <input type="hidden" name="seam" value="{{configuration.seam}}">
                                    <input type="hidden" name="pattern" value="{{configuration.pattern}}">
                                    <input type="hidden" name="print" value="{{configuration.print}}">
                                    <input type="hidden" name="price" value="{{price}}">


                                    {{!-- ANPASSSUNGEN! --}}
                                    <br>
                                    <div>
                                        <h2>Preis fehlt noch</h2>
                                    </div>
                                    <br>

                                    Zahlweise:
                                    <div class="radio">
                                        <label><input type="radio" name="optradio">Rechnung</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" disabled>Paypal</label>
                                    </div>
                                    <div class="radio disabled">
                                        <label><input type="radio" name="optradio" disabled>SofortÜberweisung</label>
                                    </div>
                                    <br>


                                    {{#if loggedin}}
                                    {{else}}
                                    <h4 class="display-4">Bitte geben Sie hier nun Ihre Rechnungs und Versandadresse
                                        an!</h4>
                                    {{!-- Platz für Adress Eingabe Formula --}}


                                    {{/if}}


                                    <button type="submit" class="btn btn-primary mb-2">Bestätigen</button>
                                </form>

                            </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>